.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
